:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --main-display-color: #a9a5ff;
  --secondary-display-color: #ff6c27;
  --heading-color: #727272;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
}