:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --main-display-color: #a9a5ff;
  --secondary-display-color: #ff6c27;
  --heading-color: #727272;
  --main-padding: 55px 0px;

}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
  background-color: var(--secondary-color);
}

img {
  margin: 0px 27px;
}

h1, h2 {
  font-family: 'helvetica';
  font-weight: 200;
  font-size: 28px;
}

.loveinc-logo {
  width: 200px;
}

.heading-logo-display {
  display: flex;
}

.defiling {
  background-color: var(--secondary-display-color);
}

.heading-card {
  background-color: var(--main-color);
  padding: 32px 0px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  text-decoration: none;
}