:root {
  --main-color: #000000;
  --secondary-color: #ffffff;
  --main-display-color: #a9a5ff;
  --secondary-display-color: #ff6c27;
  --heading-color: #727272;
  --main-padding: 55px 0px;

}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 380px;
  margin: auto;
  text-align: center;
  background-color: var(--secondary-color);
}

img {
  margin: 0px 27px;
}

.gif {
  margin: 0px;
}

h1, h2 {
  font-family: 'helvetica';
  font-weight: 200;
  font-size: 28px;
}

h1 {
  padding-left: 52px;
  border-bottom: 1.5px solid black;
}

.loveinc-logo {
  width: 200px;
  margin-right: 10px;
}

.heading-logo-display {
  display: flex;
}

.defiling-container {
  background-color: var(--secondary-display-color);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.txt {
  font-family: 'Norsy';
  font-size: 21px;
  font-weight: 100;
  white-space: nowrap;
  animation: scrollTxt1 7.5s linear infinite;
}

.bold {
  font-family: 'Norsy';
  font-weight: 900;
}

@keyframes scrollTxt1 {
  0%{
    transform: translate(0, 0);
  }
  100%{
    transform: translate(-100%, 0);
  }
}

.heading-card {
  background-color: var(--main-color);
  padding: 32px 0px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  text-decoration: none;
  padding: 10px 0;
  font-size: 40px;
}

.button-light {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.button-dark {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.button1 {
  font-family: 'Norsy';
  font-weight: light;
}

.button2 {
  font-family: 'Norsy UltraCondensed';
}

.button3 {
  font-family: 'Norsy Condensed';
  font-weight: bold;
}

.button4 {
  font-family: 'Norsy Condensed';
  font-weight: thin;
}

h2 {
  text-transform: uppercase;
}

textarea {
  font-family: 'Norsy';
  border: none;
  width: 400px;
  height: 40px;
  padding: 10px;
  resize: none;
  white-space: break-spaces;
  overflow: hidden;
}